.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

README2.md
MANUAL_CHECKS_NOW.md
MANUAL_TEST_PLAN.md
REMINDER_FORMAL_TESTS_LATER.md
TESTS_PER_WEEK12_INSTRUCTIONS.md
docs

doc2.md
doc3.md
